# Ignore node_modules directory (for Node.js projects)
node_modules/

# Ignore Python virtual environment folders
venv/
__pycache__/

# Ignore compiled Python files
*.pyc

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore IDE configuration files (e.g., for VSCode or IntelliJ)
.vscode/
.idea/

# Ignore environment variable files
.env

